.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: darkcyan;
    color: #fff;
}
.imgc{
    width: 100vw;
    height: 20vh;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    background-color: mediumaquamarine;

}

.container .central{
    
    flex-grow: 5;
    background-color: darkseagreen;

}
.container .l-e{
    flex-grow: 1;
    background-color: red;
}
.le{
    display: flex;
    flex-grow: 1;
    width:100%;
    height: 60vh;
}

.container .l-d{
    flex-grow: 1;
    background-color: crimson;
}
.ld{
    display: flex;
    flex-grow: 1;
    width:100%;
    height: 60vh;
}